* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Source Code Pro", sans-serif;
  font-weight: 600;
}
.puzzle-section {
  background-color: bisque;
}
.solution-section {
  background-color: cadetblue;
  border: 3px dashed black;
}
.line {
  min-height: 2em;
  margin: 10px 0;
  display: flex;
  gap: 10px;
}
.token {
  cursor: move;
  display: inline-block;
  padding: 10px 15px;
  border: 1px solid black;
  border-radius: 5px;
}
.indent {
  order: 1;
  margin-left: 20px;
  padding: 0;
  background-color: #e6e6e6;
  min-width: 30px;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.nested {
  display: flex;
  gap: 10px;
}
.indent-nested {
  order: 1;
  margin-left: 20px;
  background-color: #e6e6e6;
  min-width: 30px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  height: 42px;
  padding: 0;
  padding-left: 2em;
}
.hide {
  display: none;
}
.submit-btn {
  display: inline-block;
  padding: 0.46em 1.6em;
  border: 0.1em solid #000000;
  margin: 0 0.2em 0.2em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #000000;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  background-color: #ffffff;
  text-align: center;
  transition: all 0.15s;
}
.submit-btn:hover {
  border-color: rgba(255, 255, 255, 1);
}
