* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #5cdb95;
}
h1 {
  font-family: "Tajawal";
  font-size: 3rem;
  text-align: center;
}
input {
  font-family: "Source Code Pro", sans-serif;
  font-weight: 600;
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid black;
  background-color: lightblue;
}
body {
  font-family: "Source Code Pro", sans-serif;
  font-weight: 600;
}
.puzzle-section {
  background-color: #379683;
  border: 3px solid black;
  margin-bottom: 50px;
}
.solution-section {
  background-color: #379683;
  border: 3px solid black;
}
.line {
  background-color: #379683;
  min-height: 2em;
  margin: 10px 0;
  display: flex;
  gap: 10px;
}
.token {
  background-color: #edf5e1;
  cursor: move;
  display: inline-block;
  padding: 10px 15px;
  border: 1px solid black;
  border-radius: 5px;
}
.nested {
  display: flex;
  gap: 10px;
}
.indent-nested {
  order: 1;
  margin-left: 2em;
  background-color: #379683;
  width: 100%;
  /*
  border: 1px solid rgba(0, 0, 0, 0.125);
  */
  height: 42px;
  padding: 0;
  padding-left: 2em;
}
.hide {
  display: none;
}
.button-container {
  margin: 100px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.submit-btn {
  display: inline-block;
  padding: 10px 30px;
  border: 1px solid #000000;
  border-radius: 5px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Tajawal", sans-serif;
  font-size: 1rem;
  background-color: #379683;
  color: white;
  transition: all 0.15s;
}
.submit-btn:hover {
  border-color: rgba(255, 255, 255, 1);
}
.reset-btn {
  display: inline-block;
  padding: 10px 30px;
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Tajawal", sans-serif;
  font-size: 1rem;
  background-color: #b71c1c;
  color: white;
  transition: all 0.15s;
}
.reset-btn:hover {
  border-color: rgba(255, 255, 255, 1);
}
